@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

body {
    max-width: 90%;
    margin: auto;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    /* background: linear-gradient(115deg, rgb(155, 252, 255), rgb(64, 102, 139)); */
}

blockquote {
    max-width: 50%;
    margin: 80px auto;
    font-size: 160%;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px 10px 10px 50px;
    font-style: italic;
    text-transform: uppercase;
}

p:first-of-type {
    font-weight: bold;
}

p {
    font-family: 'Josefin Slab', serif;
    line-height: 24px;
    font-size: 20px;
    color: #0E334B;
}

header p {
    background-color: yellow;
}

.villageois {
    border-left: 3px solid brown;
}

.fermier {
    border-left: 3px solid green;
}

.bien {
    color: green;
}

.mal {
    color: red;
}

table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
}

th {
    background-color: silver;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: white;
}

ul .bien {
    background-image: url(bien.png);
    background-size: contain;
    padding-right: 50px;
}

ul .mal {
    background-image: url(mal.png);
    background-size: contain;
    padding-right: 50px;
}

ul .chat {
    background-image: url(chat.png);
    background-size: contain;
    padding-right: 50px;
}

